<h2>Signup page</h2>

<form action="/signup" method="POST">
    <!-- input: username -->
    <div class="form-group">
      <div class="input-group">
        <label for="name" class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </label>
      <input id="username" type="text" placeholder="Pick a username" autofocus="" name="username" required="">
      </div>
    </div>
    <!-- /input: username -->

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group">
        <label for="email" class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </label>
        <input data-ng-model="user.email" id="email" type="email" class="form-control input-lg ng-pristine ng-invalid-required ng-valid-email ng-invalid" placeholder="Your email" name="email" required="">
      </div>
      <!-- ngRepeat: message in user.email.messages -->
    </div>
    <!-- /input: email -->

    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">
        <label for="password" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"> </span>
        </label>
        <input data-ng-model="user.password" id="password" type="password" class="form-control input-lg ng-pristine ng-invalid-required ng-invalid" placeholder="Senha" name="password" required="">

        <!-- input: confirm-password -->
        <label for="confirm-password" class="sr-only input-group-btn">

        </label>
        <input data-ng-model="user.confirmPassword" id="confirm-password" type="password" class="form-control input-lg ng-pristine ng-invalid-required ng-invalid" placeholder="Confirm password" name="confirmPassword" required="">
        <!-- /input: confirm-password -->
      </div>
    </div>
    <!-- /input: password -->

    <div class="form-group">
      <div class="input-group">
        <!-- button -->
        <button class="btn btn-lg btn-success  ng-binding" type="submit">
          Registrar
          <span class="glyphicon glyphicon-chevron-right"> </span>
        </button>
        <!-- /button -->
      </div>
    </div>

    <div class="input-group">
      <!-- ngRepeat: message in messages --><div class="message ng-scope" data-ng-repeat="message in messages">
        <div class="message.type ng-binding"></div>
      </div><!-- end ngRepeat: message in messages --><div class="message ng-scope" data-ng-repeat="message in messages">
        <div class="message.type ng-binding"></div>
      </div><!-- end ngRepeat: message in messages -->
    </div>

    <div class="input-group">
      <div class="agree-terms ng-binding">
        By clicking Sign Up, you agree to: We dont are responsible for anything that may happens to your data in this test system
      </div>
    </div>

  </form>